.app-landing-page-service {
	background-image: url(../img-app-landing-page-bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    min-height: 95vh;
}

.services-container {
    padding-top: 20px;
}
.text-services {
    font-size: 12px;
    text-transform: uppercase;
    color: grey;
}

h1 {
    color: #FF851A;
}

.text-intro-landing {
    font-size: 14px;
    color: grey;
}

.biz-color {
    color: #FF851A;
}

.biz-bold {
    font-weight: bold !important;
    color: #000000 !important;
}

.img-carousel {
    height: 350px;
    width: auto;
    margin: auto;
}

.flex-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    flex-wrap: wrap; 
}

.text-content, .video-container {
    flex: 1; 
    padding: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .flex-container {
        flex-direction: column; 
    }

    .text-content, .video-container {
        flex-basis: 100%; 
    }

    .video-container {
        padding-left: 0; 
        order: -1;
    }
}

@media (max-width: 576px) {
    .text-services, .text-intro-landing, h1 {
        font-size: smaller;
    }
}

h6 a .email-text, 
h6 a:link .email-text, 
h6 a:visited .email-text,
h6 a:hover .email-text,
h6 a:active .email-text {
    text-decoration: underline;
    text-decoration-color: #FF851A; 
}

.custom-img-size {
    width: 300px;
    height: 200px;
}

.center-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}