.app-background {
	background-image: url(../app-landing-page-bg.png);
	background-size: cover; /* Cover the entire area */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: to fix the background during scroll */
    background-position: center;
    min-height: 100vh;
}

.navbar-search {
    background: #FF851A;
}

.navbar-form {
    display: flex;
    align-items: center;
    width: 100%
}

.navbar-form-control {
    width: 100%;
    border: none;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
} 

  
.pagination .page-link {
    color: black; /* Default text color */
    transition: color 0.3s ease-in-out; /* Add a smooth transition for color changes */
}

.pagination .page-item:hover .page-link {
    color: #FF851A ;
}

.no-text-decoration a {
    text-decoration: none;
    color: #9a9a9a;
  }

  .card-container-new {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  