.rounded-image {
  border-radius: 10px;
  height: 220px;
  width: 300px;   
  object-fit: cover; 
}

.content-wrapper {
  display: flex;
  align-items: center; /* This centers the items vertically */
}

.text-container {
  background-color: #F6F6F6; /* Set the background color to gray */
  border-radius: 10px; /* Adjust the border radius for roundness */
  padding: 15px; /* Add some padding inside the div */
  margin: 10px 0; /* Add some margin for spacing, adjust as needed */
  width: 400px; /* Specified width, adjust as needed */
  height: 220px;
  /* Add other styles like text alignment or padding as needed */
}


.url-link {
  font-size: 12px;
}

.rating-container {
  display: inline-block; /* This makes the container inline */
  vertical-align: middle; /* Aligns the rating stars vertically with the text */
  /* Add any additional styling as needed */
}

.rating-row {
  display: flex;
  align-items: center; /* Vertically centers the flex items */
  gap: 5px; /* Optional: Adds some space between the text and the rating stars */
}

.map-container {
  height: 220px; 
  width: 400px; 
}

/* Hide on small screens (less than 768px) */
@media (max-width: 767.98px) {
  .hidden-sm {
    display: none;
  }
}

/* Show on medium and large screens (768px and wider) */
@media (min-width: 768px) {
  .visible-md-lg {
    display: block;
  }
}